.userInput {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.isGhost {
    color: blue;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline solid #f87171;
}